.product-detail-info-container {
  .product-name {
    font-size: 30px;
    font-weight: 600;
  }
  .product-attributes {
    .attribute-name {
      font-family: 'Roboto Condensed', sans-serif;
      font-size: 18px;
      font-weight: 700;
      text-transform: uppercase;
    }
    .attribute-values {
      .attribute-values-text {
        cursor: pointer;
        .attribute-text {
          border: 1px solid #000;
          font-family: 'Source Sans Pro', sans-serif;
          font-size: 16px;
          font-weight: 400;
        }
        .attribute-text.selected {
          background-color: #1d1f22;
          color: white;
        }
      }

      .attribute-values-swatch {
        cursor: pointer;

        .attribute-swatch {
          height: 32px;
          width: 32px;
          padding: 0;
          margin: 2px 2px;
        }

        .swatch-container:has(.attribute-swatch.selected) {
          border: 1px solid #5ece7b;
        }
      }
    }
  }
  .product-price {
    .product-price-title {
      font-family: 'Roboto Condensed', sans-serif;
      font-size: 18px;
      font-weight: 700;
      text-transform: uppercase;
    }
    .actual-price {
      font-size: 24px;
      font-weight: 700;
    }
  }
  .product-description {
    font-family: 'Roboto', sans-serif;
  }
  .product-add-to-cart-btn {
    font-size: 16px;
    font-weight: 600;
    display: flex;
    justify-content: center;
    button {
      font-size: 16px;
      font-weight: 400;
      padding: 16px 32px;
      background-color: #5ece7b;
      color: white;
      text-transform: uppercase;
      outline: none;
      border: none;
    }
    button:disabled {
      background-color: grey;
      cursor: not-allowed;
    }
  }
}

.product-detail-image-container {
  .product-images-container {
    .thumbs-container {
      .sinlge-thumb-container {
        cursor: pointer;
      }
      // .sinlge-thumb-container.selected {
      //   border: #5ece7b 1px solid;
      //   border-radius: 5px;
      // }
    }

    .image {
      margin-top: 10px;
      height: 80px;
      width: 80px;
    }
  }

  .main-image {
    min-width: 85%;
    .main-image-container {
      aspect-ratio: 3/2;
      min-width: 85%;
      .main-image {
        max-height: 100%;
        max-width: 100%;
        object-fit: contain;
      }
    }

    .carousel-container {
      width: 100%;
      position: absolute;
      top: 50%;
      left: 0%;
      .carousel-buttons-container {
        button {
          background-color: rgba(0, 0, 0, 0.8);
        }
      }
    }
  }
}

.error-popup-container {
  .toast-container {
    animation: slideIn 0.7s ease-in-out;

    @keyframes slideIn {
      from {
        transform: translateY(-100%);
        opacity: 0;
      }
      to {
        transform: translateY(0);
        opacity: 1;
      }
    }
  }
}
