.product-detail-info-container {
  .product-name {
    font-size: 30px;
    font-weight: 600;
  }
  .product-attributes {
    .attribute-name {
      font-family: 'Roboto Condensed', sans-serif;
      font-size: 18px;
      font-weight: 700;
      text-transform: uppercase;
    }
    .attribute-values {
      .attribute-values-text {
        cursor: pointer;
        .attribute-text {
          border: 1px solid #000;
          font-family: 'Source Sans Pro', sans-serif;
          font-size: 16px;
          font-weight: 400;
        }
        .attribute-text.selected {
          background-color: #1d1f22;
          color: white;
        }
      }

      .attribute-values-swatch {
        cursor: pointer;

        .attribute-swatch {
          height: 32px;
          width: 32px;
          padding: 0;
        }

        .swatch-container:has(.attribute-swatch.selected) {
          border: 1px solid green;
        }
      }
    }
  }
  .product-price {
    .product-price-title {
      font-family: 'Roboto Condensed', sans-serif;
      font-size: 18px;
      font-weight: 700;
      text-transform: uppercase;
    }
    .actual-price {
      font-size: 24px;
      font-weight: 700;
    }
  }
  .product-description {
    font-family: 'Roboto', sans-serif;
  }
  .product-add-to-cart-btn {
    font-size: 16px;
    font-weight: 600;
    display: flex;
    justify-content: center;
    button {
      font-size: 16px;
      font-weight: 400;
      padding: 16px 32px;
      background-color: #5ece7b;
      color: white;
      text-transform: uppercase;
      outline: none;
      border: none;
    }
  }
}

.product-detail-image-container {
  .product-images-container {
    .thumbs-container {
      .sinlge-thumb-container {
        cursor: pointer;
        border: 1px solid #000;
      }
      .sinlge-thumb-container.selected {
        border: #5ece7b 3px solid;
        border-radius: 5px;
        padding: 5px;
      }
    }

    .image {
      margin-top: 10px;
      height: 80px;
      width: 80px;
    }
  }

  .main-image {
    min-width: 75%;
    .main-image-container {
      .main-image {
        width: 100%;
        aspect-ratio: 3/2;
        object-fit: fill;
      }
    }
  }
}
