.bi {
  .count-icon {
    width: 20px;
    height: 20px;
    font-size: 12px;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    color: white;
    text-align: center;
    align-content: center;
    top: 5px;
  }
}

.header__logo {
  .cart-container {
    .cart-toggle {
      cursor: pointer;
      color: black;
    }
  }
}
